<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostAddress"  value="igorflyunt2@gmail.com"/>
    <add key="ClientInfo" value="C:\GmailAPI\ClientCredentials\client_secret.json"/>
    <add key="CredentialsInfo" value="C:\GmailAPI\CredentialsInfo"/>
    <add key="GmailAttach" value="C:\GmailAPI\GmailAttachment"/>
  </appSettings>
</configuration>